
<%= link_to 'Create new articles', new_article_path %>

<h1> Listing all the articles </h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>description</th>
    </tr>
  </thead>



<tbody>
  <%- @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article.id) %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Edit',edit_article_path(article) %></td>
      <td><%= link_to('Delete',article_path(article), method: :delete, data: {confirm: "Are you sure?"})%></td>
       <button type="button" name="button" id='my-btn' data-title="<%=article.title%>" >get_title</button>
       <button type="button" name="button" id='my-b' data-description="<%=article.description%>" >get_desc</button>



    </tr>

  <%- end %>
</tbody>



</table>



<script>
  document.getElementById('my-btn').addEventListener("click", myFunction);
  function myFunction() {
    var btn = document.getElementById('my-btn');
    var title = btn.getAttribute('data-title');
    alert(title);
  }

  document.getElementById('my-b').addEventListener("click",get_it);
  function get_it(){
    var bt=document.getElementById('my-b');
    var titl=bt.getAttribute('data-description');
    alert(titl);
  }

</script>
